{% extends "base.html.twig" %}

{% block title %}Profile Page {% endblock %}

{% block body %}
<div class="row col-12">
    <div class="col-6">
    <h2>Your Profile</h2>
    <div class="infoblock">
        <li class="userinfo">UserName: <b>{{user.username}}</b></li>
        <li class="userinfo">Reputation: <b>{{user.reputation}}</b></li>
        <li class="userinfo">Email: <b>{{user.email}}</b></li>
        <button class="updateButton">Update</button>
    </div>
    </div>

    <div class="col-6"></div>
    <div class="col-6"></div>

    <div class="col-6" style="margin-top:15%"><h3>Top Post:</h3>
        <div class="post">
            {% for post in user.posthistory %}
                <b>{{post.title}}</b>
                <p class="post-content">{{post.content}}</p>
            {% endfor %}
        </div>
        
    </div>
</div>

{% endblock %}