{% extends "base.html.twig" %}

{% block title %}Edit Your Details{% endblock %}

{% block body %}

    <div class="row col-12">

        <div class="col-3"></div>

        <div class="row col-6">

            <h1 class="col-6" style="color:white; font-size:xx-large"><span id="bee" class="material-icons-outlined" style="color:white">hive</span>Edit Details</h1>
            <div class="col-6"></div>

            <div class="col-4"></div>
            <div class="col-8">
                {{ form_start(form) }} {# opening the form#}
                    <div style="margin-top:5%"><b>Current Username:</b> {{user.username}}</div>
                    {{form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'New Username', 'style': 'margin: 10px'} }) }}
                    <div style="margin-top:5%"><b>Current Email:</b> {{user.email}}</div>
                    {{form_widget(form.email, { 'attr': { 'class': 'form-control','placeholder': 'New Email', 'style': 'margin: 10px'} }) }}
                    {{form_widget(form.password, { 'attr': { 'class': 'form-control','placeholder': 'Confirm Password', 'style': 'margin: 10px; margin-top:10%'} }) }}

                    {{form_widget(form.submit, { 'attr': {'class': 'btn'} }) }}

                {{ form_end(form) }} {# closing the form #}
                    {#<a href="/avatar">Add profile pic</a>#}
            </div>
        </div>
        <div class="col-3"></div>
        
    </div>
{% endblock %}
